<!-- <template name="scsPool">
    {{> reactiveTable settings=settings}}
</template> -->

<template name = "SubChainProtocolAddrPool">
  <table class="table table-sm table-hover ">
    <thead>
    	<tr>
    		<th>id</th>
    		<th>SubChainProtocolAddr</th>
    		<th>bondMin</th>
    		<th>scsCount</th>
    		<th>    </th>
    	</tr>
    </thead>
	<tbody>
    {{#each props}} 
	 <tr>
	 	<td>{{_id}}</td>
    	<td>{{SubChainProtocolAddr}}</td>
    	<td>{{bondMin}}</td>
    	<td>{{scsCount}}</td>
    	<td><button class="btn btn-info" style="font-size: 11px">SCS Detail</button></td>
	 </tr>
    {{/each}}
	</tbody>
</table>
</template>

