<template name = "VnodeProtocolBaseAddrPool">
   <table class="table table-sm table-hover ">
    <thead>
    	<tr>
    		<th>Vnode Protocol Base Address</th>
    		<th>Min Bond</th>
    		<th>Vnode Count</th>
            <th></th>
    	</tr>
    </thead>
	<tbody>
    {{#each VnodeProps}} 
	 <tr>
    	<td>{{VnodeProtocolBaseAddr}}</td>
    	<td>{{bondMin}}</td>
    	<td>{{vnodeCount}}</td>
        <td><button class="btn btn-info" style="font-size: 11px">Vnode Detail</button></td>
	 </tr>
    {{/each}}
	</tbody>
</table>
</template>