<template name="Vnodes">
	<div class="modal fade" >
		<div class="modal-dialog modal-sm" >
			<div class="modal-content" style="background-color:rgba(255,255,255,1);">

				<div class="modal-body" style="height: 430px;">
				{{#if Vnodes.pageIdx}}
				<table class="table table-hover" >
					<thead>
    					<tr>
    					<th style="text-align: center">Vnode IP/Port</th>
    					</tr>
    				</thead>
					<tbody>
					{{#with Vnodes}} 
					  {{#each singlePage}}
					 <tr>
	 					<td style="text-align: center">{{link}}</td>
					 </tr>
					 {{/each}}
					{{/with}}
					</tbody>
				</table>
				{{else}}
				<h3 style="text-align: center;">NO VNODE AVAILABLE</h3>
				{{/if}}
				</div>
				
				<div class="modal-footer">
					{{#if Vnodes.pageIdx}}
					{{#with Vnodes}} 
					 <div style="background: white;margin:auto" >
					 <ul class="pagination">
    					<li id='prev'><a href="#">&laquo;</a></li>
    					{{#each pageIdx}}
    					<li class='idx {{checkActive this}}'><a href="#" >{{this}}</a></li>
    					{{/each}}
    					<li id='next'><a href="#">&raquo;</a></li>
					</ul>
					</div>
					{{/with}}
					{{/if}}
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</template>